*,*:before,*:after {
  box-sizing: border-box;
}

html, body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto',sans-serif;
  line-height: 1.5;
  /*background: #673AB7;*/
  background: #009688;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather',sans-serif;
  line-height: 1.2;
}

.align-right {
  text-align: right;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?awqn1e');
  src:  url('../fonts/icomoon.eot?awqn1e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?awqn1e') format('truetype'),
    url('../fonts/icomoon.woff?awqn1e') format('woff'),
    url('../fonts/icomoon.svg?awqn1e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
  content: "\f021";
}
.icon-code:before {
  content: "\f05f";
}
.icon-gear:before {
  content: "\f02f";
}
.icon-gist:before {
  content: "\f00e";
}
.icon-heart:before {
  content: "\2665";
}
.icon-mark-github:before {
  content: "\f00a";
}

.container {
  display: flex;
  align-items: center;
}

.wrapper {
  max-width: 480px;
  margin: 40px auto;
  padding: 0 10px;
  text-transform: center;
}

.header h1 {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  line-height: 1.1;
}

.header h1 small {
  position: absolute;
  top: -1em;
  left: 0;
  color: #FFC107;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.main {
  width: 100%;
  margin: 20px auto;
}

.fieldrow {
  text-align: center;
  margin: 10px auto;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field-select {
  position: relative;
  /*display: inline-block;*/
  /*height: 40px;*/
  margin: 0 auto;
  background: #FFC107;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.field-select span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  background: #ffc107;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

select,
input[type="text"] {
  outline: 0;
}

select {
  position: relative;
  width: 80px;
  height: 40px;
  margin: 0 5px;
  padding: 0;
  color: white;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: normal;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  text-align-last: center;
  background: none;
  border: 0;
  opacity: 0;
  z-index: 2;
}

option {
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align-last: left;
  background-color: white;
}

.field input {
  flex-grow: 1;
  width: 100%;
  min-width: 0;
  height: 40px;
  margin: 0 auto;
  color: #009688;
  font-size: 32px;
  text-align: center;
  background: #fff;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.data-time {
  text-align: right;
  color: rgba(255,255,255,0.5);
  font-size: 14px;
}

.data-time strong {
  /*color: white;*/
}

.footer {
  /*display: flex;
  align-items: center;
  justify-content: space-between;*/
  margin: 20px auto;
  text-align: center;
}

.github-source {
  color: inherit;
  font-size: 32px;
  text-decoration: none;
  opacity: 0.25;
}

.github-source:hover {
  opacity: 1;
}

.copyright {
  margin: 0 auto;
}
