<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Currency Exchange Rate Converter</title>
  <link rel="stylesheet" href="//crx.teamfonbuena.com/css/style.css">
  <link href="//fonts.googleapis.com/css?family=Merriweather:700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <script src="//crx.teamfonbuena.com/js/vue.min.js"></script>
  <script src="//crx.teamfonbuena.com/js/axios.min.js"></script>
</head>
<body>
<div class="container" id="app">

  <div class="wrapper">

    <div class="header">
      <h1>Currency Rate eXchange <small>DEMO</small></h1>
    </div>

    <div class="main">

      <div class="fieldrow fieldrow-from">
        <div class="field">
          <div class="field-select">
            <span>{{ fromCurrency }}</span>
            <select v-model="fromCurrency" @change="handleCurrencyChange">
              <option v-for="(name,code) in currencies" :value="code">{{ code }} - {{ name }}</option>
            </select>
          </div>
          <input type="text" v-model="fromRate" maxlength="8">
        </div>
      </div>

      <div class="fieldrow fieldrow-to">
        <div class="field">
          <div class="field-select">
            <span>{{ toCurrency }}</span>
            <select v-model="toCurrency" @change="handleCurrencyChange">
              <option v-for="(name,code) in currencies" :value="code">{{ code }} - {{ name }}</option>
            </select>
          </div>
          <input readonly type="text" v-model="toRate">
        </div>
      </div>
    </div>

    <div class="footer">
      <a class="github-source" href="//github.com/rbfonbuena/vuejs-coding-excercise" title="View the source on GitHub"><i class="icon icon-mark-github"></i></a>
    </div>

  </div>

</div>
<script src="app.js"></script>
</body>
</html>
